/20150630_MOD/nbproject/private/
/20150630_MOD/build/
/KlausTest/nbproject/private/
/KlausTest/build/
/20150630_Vote/nbproject/private/
/20150630_Vote/build/
/20150707_Game/nbproject/private/
/20150707_Game/build/
/20150708_Lottery/nbproject/private/
/20150708_Lottery/build/
/20150728_BufferRWer/nbproject/private/
/20150728_BufferRWer/build/
/20150728_BufferedIOStream/nbproject/private/
/20150728_BufferedIOStream/build/